* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body {
  width: 100%;
  height: 100vh;

  background-color: #f8f8f8;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 800px;
}

#qr-code {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#qr-code>img {
  margin-right: 2rem;
  width: 14.5rem;
  height: 14.5rem;
}

#confirmed-icon {
  position: absolute;

  max-width: 4.93rem;
  max-height: 4.93rem;
}

main>header {
  display: flex;

  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 0.93rem;
  border: 1px solid #e3e3e3;
}

main header aside {
  display: flex;
  flex-direction: column;
}

main header aside h1 {
  color: #4551e6;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

main>header aside p {
  color: #1a1a1a;
  font-size: 1rem;
  line-height: 1.5rem;
  flex: 1;
}

body main footer {
  margin-top: 1rem;
  gap: 1rem;

  display: flex;
}

#purchase-value {
  background-color: #f5f5f5;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;

  height: 3.12rem;
  color: #575757;

  display: flex;
}

#purchase-value span {
  flex: 1;
}

#purchase-value>img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

#expiration-time {
  flex: 1;
  background-color: #ffffff;
  padding: 2rem 1.5rem;
  border-radius: 0.937rem;
  border: 1px solid #e3e3e3;

  display: flex;
  align-items: center;
}

#expiration-time>header {
  gap: 0.5rem;
}

#expiration-time>span::before {
  content: "";
  display: block;
  width: 1px;
  height: 3.5rem;
  background-color: #e3e3e3;
  margin: 0 2rem;
}

#expiration-time>span {
  color: #575757;
  font-size: 0.75rem;
  flex: 1;

  display: flex;
  align-items: center;
}

#expiration-time header small {
  color: #1a1a1a;
  font-size: 0.87rem;
}

#expiration-time>header>div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#expiration-time header div img {
  width: 1.5rem;
  height: 1.5rem;
}

#expiration-time header div span {
  color: #4551e6;
  font-size: 1.25rem;
  font-weight: 700;
}

#order {
  background-color: #ffffff;
  padding: 2rem 1.5rem;
  border-radius: 0.937rem;
  border: 1px solid #e3e3e3;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex: 0.5;
}

#order>small {
  color: #1a1a1a;
}

#order>div {
  gap: 0.5rem;
  display: flex;
  align-items: center;
}

#order>div span {
  color: #4551e6;
  font-size: 1.25rem;
  font-weight: 700;
}

#order>div img {
  width: 1.5rem;
  height: 1.5rem;
}

#payment-confirmed {
  background-color: #ffffff;
  padding: 2rem 1.5rem;
  border-radius: 0.937rem;
  border: 1px solid #e3e3e3;
  gap: 1.5rem;

  display: flex;
  flex: 1;
}

#payment-confirmed>p {
  font-size: 0.87rem;
  color: #575757;
}

#payment-confirmed>img {
  height: 2.5rem;
  width: 2.5rem;
}

#my-orders-button {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  margin-right: 12px;
  width: 45% !important;
  height: 46px !important;
  background: #4551E6;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
}

#support-button{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 8px;
  border: 1px solid #C2C2C2;
  width: 45% !important;
  height: 46px !important;
  background: #C2C2C2;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #575757;

}

#div-buttons{
  display: flex;
  align-items: flex-start;
}